/* Figma Styles of your File */:root {
  /* Colors */
  --fire-bush-50: #fffbeb;
  --fire-bush-100: #fff4c6;
  --fire-bush-200: #ffe788;
  --fire-bush-300: #ffd54a;
  --fire-bush-400: #fec221;
  --fire-bush-500: #ef9906;
  --fire-bush-600: #dc7803;
  --fire-bush-700: #b75306;
  --fire-bush-800: #943f0c;
  --fire-bush-900: #7a350d;
  --fire-bush-950: #461a02;
  --cod-gray-50: #f6f6f6;
  --cod-gray-100: #e7e7e7;
  --cod-gray-200: #d1d1d1;
  --cod-gray-300: #b0b0b0;
  --cod-gray-400: #888888;
  --cod-gray-500: #6d6d6d;
  --cod-gray-600: #5d5d5d;
  --cod-gray-700: #4f4f4f;
  --cod-gray-800: #454545;
  --cod-gray-900: #3d3d3d;
  --cod-gray-950: #060606;
  --cod-gray-50: #f6f6f6;
  --cod-gray-100: #e7e7e7;
  --cod-gray-200: #d1d1d1;
  --cod-gray-300: #b0b0b0;
  --cod-gray-400: #888888;
  --cod-gray-500: #6d6d6d;
  --cod-gray-600: #5d5d5d;
  --cod-gray-700: #4f4f4f;
  --cod-gray-800: #454545;
  --cod-gray-900: #3d3d3d;
  --cod-gray-950: #060606;

  /* Fonts */
  /* Effects */

}

